---
permalink: search.json
---
[
{% for post in collections.post %}
  {
    "title": {{ post.data.title | dump | safe }},
    "url": {{ post.url | dump | safe }},
    "date": {{ post.data.created | isodate | dump | safe }}
  }{% if not loop.last %},{% endif %}
{% endfor %}
]
